*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}

.right{
    float: right;  
    /* text-align: right ;
    align-items: right ; */
}
#navbar{
    padding: 3px 4px;
    display: flex;
    /* position: fixed; */
    text-align: center;
    align-items: center; 
    font-weight: bolder;
    text-transform: uppercase;
    background-color: blanchedalmond;
    font-family: Georgia, 'Times New Roman', Times, serif;

}
#navbar ul{
    margin-left: 130px;
    display: flex;
    color: rgb(61, 26, 1);
    list-style: none;
    
}
#navbar ul li{
    margin: 18px 34px;
   /*  padding: 10px;  */
    font-size: 16px;
    cursor: pointer;
    border-radius: 20px;
}
#navbar ul li a{
    text-decoration: none;
    color: rgb(61, 26, 1);
    padding: 10px;
}
#navbar ul li a:hover{
    background-color: rgb(61, 26, 1);
    color: cornsilk;  
    border-radius: 20px;
}
#logo{
    margin-left: 14px;
}
.fa-mug-hot:before {
    content: "\f7b6";
    margin-left: 12px;
}
 

#home{
    /* display: flex;
    flex-direction: column; */
}
#home::before{
    background: url(img/doug-greenman-4ljbuB52IPQ-unsplash.jpg) no-repeat top center/cover;
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    height: 98%;
    width:100%;
    z-index: -1;    /* content comes over */
    opacity:0.81;  
}
h1{
    text-align: center;
    justify-content: center;
    position: absolute;
    top: 45%;
    left: 29%;
    background: #f5f5f578;
    font-weight: bolder;
    width: auto;
    height: 61px;
    text-align: center;
    align-items: center;
    padding: 17px
    
}
.header{
    font-family: 'Dancing Script', cursive;
    letter-spacing: 5px;
}

/* section{
    position: relative;
    top: 100%;
    display: inline-block;
} */
.image{
    display: grid;
    background:#e9dadab9;
    background-position: left;
    width: 165px;
    height: 506px;
    /* padding-top: 60px; */
    /* margin-top: -15px; */
}
.image img{
    margin: 14px 14px;
    width: 115px;
    transition: 0.9s;
    cursor: pointer;
    border-radius: 10px;
}
.image img:hover{
    transform: scale(1.31);
}

.h-secondary{
    padding: 12px;

}
#services{
    padding: 18px;
    background-color:cornsilk ;
}
#products{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(4, 1fr);
}
#products .box{
    border: 14px solid #795548;
    margin:2px 6px;
    padding: 14px;
    border-radius: 18px;
    background-color: burlywood;
    text-align: center;

}
#products .box img{
    border: 8px solid white;
    max-height: 100%;
    max-width: 100%;
    margin: auto;
    display: block;    
}
.center{
    font-family: spectral serif;
    text-align: center;
    padding-bottom: 12px;
}
.h-secondary{
    text-align: center;
    align-items: center;
    
}

/* About */
#about{
    background-color: gainsboro;
}
.container {
/*     max-width: 1180px; */
    text-align: center;
    margin: 0 auto;
    padding: 0px 50px; 
    justify-content: center;
}
.menu-card {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    /* text-align: left;   
    grid-column: 2 / 4;
    grid-row: 1 / 3; */
}
.menu-card img{
    width: 66%;
    height: 85%;
    padding-top: 20px;
}
/* .text{
    display: grid;    
} */

.text h3{
    
    font-size: 33px;
    margin: 24px;
    margin-top: 89px;
    margin-bottom: 69px;
   
}
.text p{
    line-height: 1.8em;
    font-size: 18px;
}
/* .box{
    grid-row: 1 / span 2;
} */

/* Footer */
#storage {
    max-width: 1180px;
    text-align: center;
    margin: 0 auto;
    padding: 0 3rem;
    line-height: 1.9;
}
#storage li{
    font-family: 'Zilla Slab', serif;
}
footer .footer-cols {
    display: grid;
    grid-gap: 51px;
    grid-template-columns: repeat(3, 1fr);
    padding: 2rem;
    text-align: left;
    font-size: 17px;
}
footer .footer-cols ul {
    list-style: none;
}
footer .footer-cols ul li:first-child {
    font-size: 1.2rem;
    padding-bottom: 0.5rem;
    border-bottom: #444 solid 1px;
    margin-bottom: 1rem;
}
footer .footer-bottom {
    background: #333333cf;
    padding: 1rem;
    color: whitesmoke;
    text-align: center;
    text-transform: capitalize;
}